*{
    font-family: "Roboto", serif;
    font-style: normal;
}
html{
    font-size: 12px;
}


/* Font-family Roboto kaip? */

.blue{
    color: blue;
}

.green{
    color: green;
}

.italic{
    font-style: italic;
}

.grey{
    background-color: rgb(155, 153, 153);
}

.bold{
    font-weight: bold;
}

.decoration{
    text-decoration: underline green double; 
} 