.podcastai .item {
    display: grid;
  }
  .podcastai .item .item-top {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: black;
    color: white;
  }
  .podcastai .item .item-top .spotify-img img {
    width: 100%;
  }
  .podcastai .item .item-top .trukme {
    grid-column: 2/span 1;
  }
  .podcastai .item .item-bottom {
    background-color: white;
    padding: 20px;
  }
  .podcastai .item .item-bottom h4 {
    margin: 0px;
  }