*, *::before, *::after{
  box-sizing: border-box;
}
*{
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  color: white;
}

.outer-box{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(210, 46%, 95%);
}

.main-box{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 70px;
}

.main-box .item{
  border-radius: 10px;
  padding: 30px;
}

.main-box .item:nth-child(odd){
  box-shadow: 1px 2px 30px rgb(182, 178, 178);
}

.inner-box1{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inner-box2{
  width: 25%;
}