<nav>
    <ul>
        <li><a href="/students">Students</a></li>
        <li><a href="/groups">Groups</a></li>
        <li><a href="/languages">Languages</a></li>
        <li><a href="/lecturers">Lecturers</a></li>
        <li><a href="/subjects">Subjects</a></li>
    </ul>
</nav>