footer{
    background-image: url(images/footer.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 35%;
    background-color: black;
    padding-bottom: 200px;
    .footer-wrap{
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        .footer-logo{
            grid-column: span 3;
            padding: 100px 0px;
          
        }
        .footer-links{
            padding-bottom: 200px;
            ul{
                list-style-type: none;
                padding: 0px;

                li{
                    padding-bottom: 20px;
                    color: rgb(162, 162, 162);
                }
            }
      
        }
        .footer-address{
            display: flex;
            flex-direction: column;
            row-gap: 25px;

            span{
                color: white;
            }
            a{
                text-decoration: none;
                color: rgb(162, 162, 162);
            }
        }
        .footer-socials{
            text-align: center;
          
        }
        .footer-rights{
            grid-column: span 2;
            color: rgb(162, 162, 162);
      
        }
        .footer-privacy{
            padding-left: 100px;
            a{
                text-decoration: none;
                color: rgb(162, 162, 162);
            }
        }
    }
}