<%- include('partials/header', {title: 'Home page'}) %>

<h1>Welcome</h1>
<ul>
    <li><a href="/students">Student's List</a></li>
    <li><a href="/groups">Groups</a></li>
    <li><a href="/languages">Languages</a></li>
    <li><a href="/lecturers">Lecturers</a></li>
    <li><a href="/subjects">Subjects</a></li>
</ul>

<%- include('partials/footer') %>
