.visos-naujienos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    border-radius: 10px;
    background-color: white;
    padding: 0px 25px;
    margin-top: 20px;
  }
  .visos-naujienos img {
    width: 3%;
  }