.innerBox1 .item:nth-child(1){
    width: calc(100% / 3 * 2 - 3%);
    margin-bottom: 3%;
    background-color: hsl(263, 55%, 52%);
    background-image: url(/src/assets/Testimonials/bg-pattern-quotation.svg);
    background-repeat: no-repeat ;
    background-position: 80% top;
    border-radius: 10px;
    padding: 30px;
}
.innerBox1 .item:nth-child(2){
    width: calc(100% / 3);
    margin-bottom: 3%;
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    padding: 30px;
}
.innerBox1 .item:nth-child(3){
    width: calc(100% / 3);
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 30px;
}
.innerBox1 .item:nth-child(3) h2{
    color: hsl(217, 19%, 35%);
}
.innerBox1 .item:nth-child(4){
    width: calc(100% / 3 * 2 - 3%);
    background-color: hsl(219, 29%, 14%);
    border-radius: 10px;
    padding: 30px;
}
.innerBox2 .item:nth-child(1){
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 30px;
}
.innerBox2 .item:nth-child(1) h2{
    color: hsl(217, 19%, 35%);
}

.innerBox1 h2{
    font-size:large;
}
.innerBox2 h2 {
    font-size:large;
}
.innerBox1 p{
    color: hsl(0, 0%, 81%);
    opacity: 70%;
    line-height: 1.4;
}
.innerBox2 p{
    color: hsl(0, 0%, 81%);
    opacity: 70%;
    line-height: 1.4;
}

.testimonialHeader span:nth-of-type(1){
    font-weight: 600;
    color: hsl(0, 0%, 81%);
}
.testimonialHeader span:nth-of-type(2){
    color: hsl(0, 0%, 81%);
    opacity: 50%;
}
.testimonialHeader{
    display: flex;
    align-items: center;
}
.testimonialHeader div.initials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 15px;
}
.testimonialHeader img{
    border-radius: 80%;
}