.naujienos-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 25px;
    -moz-column-gap: 25px;
         column-gap: 25px;
    font-size: 13px;
    font-weight: lighter;
  }
  @media (max-width: 700px) {
    .naujienos-small {
      grid-template-columns: 1fr;
    }
  }
  .naujienos-small .item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    -moz-column-gap: 25px;
         column-gap: 25px;
    padding-bottom: 25px;
  }
  @media (max-width: 900px) {
    .naujienos-small .item {
      grid-template-columns: 1fr;
    }
  }
  .naujienos-small .item img {
    width: 100%;
  }
  .naujienos-small .item .testing span:nth-child(1) {
    color: rgb(42, 42, 255);
    font-weight: 600;
  }