#root {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  background-color: rgb(228, 228, 228);
}

header{
  display: flex;
  flex-direction: column;
}
.navWrapper{
  display: flex;
  column-gap: 25px;
  background-color: rgb(25, 5, 98);
  padding: 20px;
}
.imageWrapper{
  padding: 20px;
  background-color: white;
}
.imageWrapper img{
  width: 30%;
}


main{

}

.mainHeaderImage{
  height: 300px;
  background-color: rgb(164, 220, 69);
  text-align: center;
  align-content: center;
  margin: 20px 0px;
}
.mainHeaderImage p{
  color: antiquewhite;
  font-size: 40px;
}
.infoWrapper{
  display: flex;
  column-gap: 20px;
}
.infoItem{
  width: 30%;
  padding: 20px;
  background-color: white;
}
.infoItem h1{
  font-size: 26px;
}
p{
  font-size: 12px;
}


.contentWrapper{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  background-color: white;
  margin-top: 20px;
}

.navigation-text{
}

.navigationText a{
  display: block;
  padding: 20px 30px;
  background-color: rgb(237, 235, 235);
  color: black;
}

.textSection{
  padding-right: 20px;
}